<div class="kb-detail-issue">
  <div class="kb-detail-header">
    <span class="kb-detail-tracker"><%= issue.tracker.name %></span>
    <span class="kb-detail-id">
      <%= link_to "##{issue.id}", issue_path(issue) %>
    </span>
  </div>

  <h3 class="kb-detail-subject"><%= issue.subject %></h3>

  <dl class="kb-detail-attrs">
    <dt><%= l(:field_status) %></dt>
    <dd><span class="badge"><%= issue.status.name %></span></dd>

    <dt><%= l(:field_priority) %></dt>
    <dd><%= issue.priority.name %></dd>

    <dt><%= l(:field_assigned_to) %></dt>
    <dd>
      <% if issue.assigned_to %>
        <%= avatar(issue.assigned_to, size: '16') %> <%= issue.assigned_to.name %>
      <% else %>
        <em><%= l(:label_nobody) %></em>
      <% end %>
    </dd>

    <dt><%= l(:field_author) %></dt>
    <dd><%= issue.author.name %></dd>

    <% if issue.due_date %>
      <dt><%= l(:field_due_date) %></dt>
      <dd class="<%= 'overdue' if issue.overdue? %>"><%= format_date(issue.due_date) %></dd>
    <% end %>

    <% if issue.done_ratio > 0 %>
      <dt><%= l(:field_done_ratio) %></dt>
      <dd><%= progress_bar(issue.done_ratio) %> <%= issue.done_ratio %>%</dd>
    <% end %>
  </dl>

  <% if issue.description.present? %>
    <div class="kb-detail-description">
      <h4><%= l(:field_description) %></h4>
      <div class="wiki"><%= textilizable(issue, :description) %></div>
    </div>
  <% end %>

  <div class="kb-detail-footer">
    <%= link_to l(:button_edit), edit_issue_path(issue), class: 'button-small' if User.current.allowed_to?(:edit_issues, issue.project) %>
    <%= link_to "#{l(:label_issue)} ##{issue.id}", issue_path(issue), class: 'button-small icon icon-zoom-in' %>
  </div>
</div>
