<div class="<%= kanban_card_classes(issue) %>"
     data-issue-id="<%= issue.id %>"
     data-allowed-statuses="<%= kanban_allowed_statuses_json(issue) %>"
     data-issue-url="<%= issue_path(issue) %>"
     tabindex="0"
     role="article"
     aria-label="<%= "#{issue.tracker.name} ##{issue.id}: #{issue.subject}" %>">

  <%# Hidden checkbox enables Redmine's built-in right-click context menu %>
  <input type="checkbox"
         name="ids[]"
         value="<%= issue.id %>"
         class="kb-card-checkbox"
         aria-hidden="true"
         style="display:none" />

  <div class="kb-card-header">
    <span class="kb-card-tracker-tag"><%= issue.tracker.name %></span>
    <div class="kb-card-header-right">
      <a href="<%= issue_path(issue) %>"
         class="kb-card-id"
         title="<%= "#{l(:label_issue)} ##{issue.id}" %>">#<%= issue.id %></a>
      <button class="kb-card-menu-btn js-contextmenu"
              type="button"
              aria-label="<%= l(:button_actions) %>"
              title="<%= l(:button_actions) %>">&#8942;</button>
    </div>
  </div>

  <a href="<%= issue_path(issue) %>" class="kb-card-subject-link">
    <div class="kb-card-subject"><%= issue.subject %></div>
  </a>

  <div class="kb-card-footer">
    <div class="kb-card-meta">
      <%= kanban_priority_label(issue) %>
      <%= kanban_subtask_badge(issue) %>
      <% if issue.due_date %>
        <span class="kb-card-due<%= ' kb-overdue' if issue.overdue? %>"
              title="<%= l(:field_due_date) %>: <%= format_date(issue.due_date) %>">
          <%= format_date(issue.due_date) %>
        </span>
      <% end %>
    </div>
    <div class="kb-card-right">
      <%= kanban_assignee_cell(issue.assigned_to) %>
    </div>
  </div>
</div>
